    .header_outer_container{
        position: sticky;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center; 
        background-color:  rgb(148, 132 ,132);
        background-color:  rgb(20, 20 ,20);
        background-color: transparent;
        height: 13vh; 
        color: white;
         z-index: 99;
        background-color: black;


    }

.header-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.header-left ul{
    width: 120%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
}

.header-right ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;

}
.header-left li{
    margin-left: 20px;
}
.header-right li{
    margin-left: 20px;

}