.banner{
    height: 80vh;
    margin-bottom: 80px;
}
.banner-contents{
    margin-left: 100px;
    padding-top: 190px;

}

.banner-title{
    font-size: 4rem;
 
}
.banner_discription{
    padding: 1rem 0;
    font-size: 20px;
    max-width: 360px;
    height: 80px;
}
.banner_button{
    cursor: pointer;
    color: white;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1rem 3rem;
    margin-right: 2rem;
    background-color: rgba(51, 51, 51, 0.5);

}
.play{
    color:#000;
    background-color: #fff;
}
.banner_button:hover{
    color: #000;
    background-color: #c6c6c6;
    
}
.banner_fadeBottom{
    height: 40vh;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgb(37,37,37,0.91),
        #111
    );
}